.brand {
  font-size: 30px;
  padding: 10px 20px;
  font-family: cursive;
}
.toggler {
  box-shadow: none !important;
  color: aqua!important;
}
.toggler:hover {
  background-color: gainsboro;
  border: none;
}
.nav--items {
  display: flex;
  justify-content: end;
}
.nav--items ul {
  padding: 15px;
}
.nav--items ul li {
  padding: 0px 10px;
}
.nav--items .nav--text {
  font-size: 20px;
}
.nav--items .signin--button {
  border: 2.5px solid #00bfa6;
  letter-spacing: 1px;
  padding: 5px 25px;
}
.nav--items .signin--button:hover{
  background: #00bfa6;
  color: white;
}
@media only screen and (max-width: 990px) {
  .nav--items {
    justify-content: center;
    text-align: center;
  }
}
