.opacity--reduce{
  opacity: 0.8;
}
.brand {
  font-size: 30px;
  padding: 10px 20px;
  font-family: cursive;
}
.toggler {
  box-shadow: none !important;
  color: aqua !important;
}
.toggler:hover {
  background-color: gainsboro;
  border: none;
}

.nav--items {
  display: flex;
  justify-content: flex-end;
}
.nav--items ul {
  padding: 15px;
}
.nav--items ul li {
  padding: 0px 10px;
}
.nav--items .nav--text {
  font-size: 20px;
}
.nav--items .signin--button {
  border: 2.5px solid #00bfa6;
  letter-spacing: 1px;
  padding: 5px 25px;
}
.nav--items .logout--button {
  border: 2.5px solid tomato;
  letter-spacing: 1px;
  padding: 5px 25px;
}
.nav--items .signin--button:hover {
  background: #00bfa6;
  color: white;
}
.nav--items .logout--button:hover {
  background: tomato;
  color: white;
}
.dashboard--icon{
  color: #000;
  margin-top: -2px;
}
.dashboard--icon:hover{
  color: #00bfa6;
}

@media only screen and (max-width: 990px) {
  .nav--items {
    justify-content: center;
    text-align: center;
  }
}



.error--section{
  margin-top: 15%;
  text-align: center;
  margin-bottom: 20%;
}
.error--section h2{
  color: #333;
  padding: 10px 20px;
  font-family: 'Roboto Slab', serif;
}
.error--btn{
  text-align: center;
}
.error--btn button{
  font-size: 20px;
  width: 250px;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  background: #00bfa6; 
  color: aliceblue;
  border: 1px solid white;
}
.error--btn button:hover{
  color: #fff;
}


.sidebar{
  position: absolute;
  background: #00bfa6;
  width: 20%;
  top: 0%;
  height: 100vh;
  z-index: 2;
  border-top-right-radius: 8px;
  overflow-y: scroll;
} 
@media only screen and (max-width: 1190px) {
  .sidebar{
    width: 50%;
  }
}
@media only screen and (max-width: 690px) {
  .sidebar{
    width: 100%;
  }
}
.sidebar--top{
  display: flex;
  justify-content: center;
  position: relative;
}
.sidebar--top h2{
  margin-top: 40px;
  font-size: 28px;
  color: white;
  font-family: cursive;
  
}
.sidebar--top .close--icon{
  cursor: pointer;
  font-size: 25px;
  color: #333;
  position: absolute;
  top: 10px;
  right: 12px;
}
.sidebar--top .close--icon:hover{
  color: azure;
}
.sidebar--list{
  margin-top: 10%;
}
.sidebar--list ul{
  list-style: none;
}
.sidebar--list ul .items{
  margin: 5px -10px;
  font-size: 18px;
  color: #333;
  font-weight: bolder;
}
.sidebar--list ul .items--list li{
  list-style: none;
  margin: 10px -10px!important;
  cursor: pointer;
  color: #36454F;
  font-size: 14px;
  transition: 0.2s ease-in-out all;
}

.sidebar--list .items--list li:hover{
  color: aliceblue;
  font-weight: 600;
}

.sidebar--list ul .items--list .lists{
  list-style: none;
  margin: 10px -10px!important;
  cursor: pointer;
  color: #36454F;
  font-size: 14px;
  transition: 0.2s ease-in-out all;
  display: flex;
  text-decoration: none;
}

.sidebar--list .items--list .lists:hover{
  color: aliceblue;
  font-weight: 600;
}

.select--box--div{
  position: relative;
}
.select--box--div i{
  position: absolute;
  right: 30px;
  top: 45%;
}
.select--boxes{
  text-transform: capitalize;
}