.arrow--right{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.arrow--right:hover{
  color: #00bfa6;
}

@media only screen and (max-width: 690px) {
  .dashboard--container{
    margin-top: 10%;
  }
  .dashboard--card{
    width: 100%!important;
  }
  .dashboard--card .cards--info{
    justify-content: center!important;
  }
}
.btn--add{
  width: 100px;
  color: white;
  font-weight: bold;
}
.back--icon{
  font-size: 40px;
  margin-top: -5px;
  color: white;
  background: #333;
  border-radius: 50px;
  padding: 5px;
}
.dashboard--container{
  width: 85%;
  margin-top: 50px;
}
.dashboard--main{
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-top: 8%;
  flex-wrap: wrap;
}
.dashboard--card{
  width: 30%;
  border-radius: 10px;
  border: none;
  padding: 10px 10px;
}
.dashboard--card h3{
  padding: 10px 20px;
  font-size: 20px;
}
.dashboard--card .cards--info{
  display: flex;
  justify-content: space-between;
}
.cards--info .cards--text{
  font-size: 3em;
  padding: 0px 30px;
  margin: 0%;
}
.cards--info .cards--icon{
  font-size: 3em;
  padding: 0px 30px;
  margin-top: -5px!important;
  margin: 0%;
}


@media only screen and (max-width: 990px) {
  .table{
    overflow-x: auto;
    width: 1000px;
  }
}
.doctors{
  margin-top: 50px;
}
.doctors article{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.doctors .table{
  text-align: center;
}
.doctors .table--head{
  background: silver;
}
.doctors .table--head th{
  font-size: 17px;
  padding: 25px;
}
.doctors .table--head th:first-child{
  border-top-left-radius: 10px;
}
.doctors .table--head th:last-child{
  border-top-right-radius: 10px;
}
.doctors .table--body td{
  padding: 22px 0px;
}
.doctors .table--body td button{
  padding: 0px 10px!important;
  margin-top: -1px;
}